/* Logo */
/* Adapted from Zachary Blackwood */
[data-testid="stSidebar"] {
                background-image: url(https://media.licdn.com/dms/image/v2/C560BAQHB5IJW-49lKw/company-logo_200_200/company-logo_200_200/0/1630650405272/dicodingacademy_logo?e=1738800000&v=beta&t=BEIDEq5SoOH_30n17J2YarzzXKMfR-9l8-XNFBNN40w);
                background-size: 337px;
                background-repeat: no-repeat;
                background-position: 0px 10px;
                border-radius: 10px;
                padding-top: 260px;
            }

/* Card */
/* Adapted from https://startbootstrap.com/theme/sb-admin-2 */
div.css-1r6slb0.e1tzin5v2 {
    background-color: #130808;
    border: 1px solid #130909;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(62, 122, 119, 0.15) !important;
    
}

label.css-mkogse.e16fv1kl2 {
    color: #36b9cc !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}


/* Move block container higher */
div.block-container.css-18e3th9.egzxvld2 {
  margin-top: -5em;
}


div.css-r698ls.e8zbici2 {
  display: none;
}

footer.css-ipbk5a.egzxvld4 {
  display: none;
}

footer.css-12gp8ed.eknhn3m4 {
  display: none;
}

div.vg-tooltip-element {
  display: none;
}

